:root {
  --primary: #FF6600;  
  --dark-primary: #d15400;  
  --text-color: #444;
  --green: #08C122;
  --light-grey: #F4F4F4;
  --grey: #b6b6b6;

  --menu-height: 75px;

  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

main {
  padding-top: var(--menu-height);
  
  section:last-child {
    padding-bottom: calc(100px + var(--menu-height));
  }
}

input,
textarea,
button,
select,
a, 
.menu-icon,
.arrow {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


input {  
  padding: .25rem .5rem;
  font-family: 'Open Sans', sans-serif;
}

section {
  z-index: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.cards-container {
  display: none;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;  
}

.padding--default {
  padding: 100px 0;
}

.bg--light-grey {
  background-color: var(--light-grey);
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media screen and (min-width: 767px) { 
  .cards-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  
    div:last-child {
      margin-left: 2rem;
    }
  } 

}

.title-container {
  font-weight: 700;

  span {
    color: var(--primary);
  }

  h2 {
    color: var(--text-color);
  }

  &.align--left {
    text-align: left;
  }
  
  &.align--center {
    text-align: center;
  }
  
  &.align--right {
    text-align: right;
  }

}

.icon-text {  
  img {
    height: 3rem;
    object-fit: contain;
    margin-bottom: 1rem;
    width: auto;
  }

  h3 {
    margin-bottom: .5rem;
  }
}

.navbar {
  background-color: rgba(255, 255, 255, 1);
  height: var(--menu-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 15px 0;
  width: 100%;
  transition: 0.2s ease-out;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;

    .navbar-logo {
      cursor: pointer;
      text-decoration: none;
      height: 100%;

      img {
        height: 100%;
      }
    }

    .menu-icon {
      display: none;
      
      .fa-bars {
        color: var(--text-color);
      }

      .nav-links-mobile {
        display: none;
      }
    }

    .nav-menu {
      display: flex;
      margin-left: auto;
      list-style: none;
      text-align: center;
      justify-content: flex-end;
      
      .nav-item  {
        list-style-type: none;
        display: flex;
        align-items: center;
        height: auto;

        .nav-link {
          color: var(--grey);
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: .25rem 0;
          margin: 0 1rem;
          margin-bottom: -1px;
          transition: all 300ms ease;
          white-space: nowrap;
          cursor: pointer;
          border-bottom: 1px solid transparent;

          &:hover {
            color: var(--text-color);
            border-color: var(--text-color);
          }

          &.active {
            transition: none;
            color: var(--primary);
            border-color: var(--primary);
          }

        }
      }
    }

    .btn {
      width: auto;
      white-space: nowrap;
      margin-left: 1rem;

      i {
        margin-right: .25rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  :root {    
    --menu-height: 60px;
  }

  .navbar-container {
    .menu-icon {
      display: block !important;
      font-size: 1.5rem;
      color: var(--text-color);
      cursor: pointer;
      z-index: 999;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start !important;
  
      width: auto;
      height: 100vh;
      position: absolute;
      top: 0;
      right: -100%;
  
      margin: 0 !important;
      padding: 100px 40px 0 25px;
  
      transition: all 0.75s ease;
      background: #fff;    
  
      &.active {
        right: 0;
        transition: all 0.5s ease;
        z-index: 0;
      }
  
      .nav-item {
        margin-bottom: 2rem;

        .nav-link {          
          width: 100%;
      
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    
    .btn {
      margin-left: 0 !important;
    }
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

footer {
  border-top: 1px solid var(--grey);

  #whatsapp-icon {
    background-color: var(--green);
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    transition: all .5s ease;
    transform: translateY(200%);
    text-decoration: none;

    i {
      transform: translateY(-2.5%);
      font-size: 2rem;
      color: #fff;
    }

    &.display {
      transform: none;
    }
  }

  .content {
    > .container {
      padding-top: 100px;
      padding-bottom: 100px;
      width: 100%;
  
      display: grid;
      row-gap: 3rem;
      grid-template-areas:
      "a"
      "b"
      "c";
  
      .logo-social {
        grid-area: a;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
  
        img {
          width: 100%;
          margin-bottom: 3rem;
        }
  
        .social-icons {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 100%;
  
          a {
            color: var(--text-color);
          }
    
          i {
            font-size: 1.5rem;
          }
        }
      }
  
      .column.navigation {
        grid-area: b;
      }
  
      .column.icons {
        grid-area: c;
      }
  
      .column {
        width: 100%;
  
        h3 {
          margin-bottom: 1rem;
        }
  
        ul {
          li {
            list-style-type: none;
            margin-bottom: 1.5rem;
          }
        }
  
        &.icons {
          a {
            display: flex;
  
            i {
              height: 100%;
              margin-right: .75rem;
              margin-top: .25rem;
            }
      
            span {
              width: 100%;
            }
          }        
        }
      }
  
      a {
        cursor: pointer;
        transition: color 0.2s ease-out;
        color: var(--text-color);
        text-decoration: none;
  
        &:hover {
          color: var(--primary) !important;
        }
      }
    }
  }

  .copyright {
    padding: 1rem 0;
    width: 100%;    
    background-color: #e5e5e5;

    .container {
      max-width: 1200px;

      a {
        text-decoration: none;
        color: var(--text-color);
        transition: all .3s ease;
        text-align: center;
        display: flex;
        align-items: center;

        img {
          height: 1.5rem;
          margin-left: .75rem;
          transform: translateY(0.1rem);
        }
      }
    }
  }
}

@media screen and (min-width: 401px) {
  footer {
    .content {
      > .container {
        .logo-social {
          img {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 651px) and (max-width: 840px)  {
  footer {
    .content {
      > .container {
        .logo-social {
          width: 10rem !important;
        }
      }
    }
  }
}

@media screen and (min-width: 651px) {
  footer {
    .content {
      > .container {
        grid-template-areas:
        "a c d"
        "a c d";
    
        .logo-social {
          grid-area: a;
          justify-self: start;
          width: 15rem;
          margin-bottom: 0;
    
          img {
            width: 100%;
            margin-bottom: 3rem;
          }  
        }
    
        .column {
          width: fit-content;
          margin-top: 0;
  
          &.navigation {
            justify-self: center;
            grid-area: c;
          }
      
          &.icons {
            justify-self: flex-end;
            grid-area: d;
          }
    
          h3 {
            margin-bottom: 1rem;
          }
    
          ul {
            li {
              list-style-type: none;
              margin-bottom: 1.5rem;
            }
          }
    
          &.icons {
            a {
              display: flex;
    
              i {
                height: 100%;
                margin-right: .75rem;
                margin-top: .25rem;
              }
        
              span {
                width: 100%;
              }
            }        
          }
        }
      }
    }

  }
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.slide-2 {
      object-position: right;
    } 
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background: linear-gradient(110deg,rgba(0,0,0,.6),rgba(0,0,0,.05))
  }

  .content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 5rem 2rem;
    margin: auto;

    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 4rem;
    align-content: center;

    h1 {
      align-self: center;
      color: #fff;
    }

  }

}

@media screen and (min-width: 768px) {
  .slide {  
    .content {
      padding: 2rem;
      grid-template-rows: auto auto;
      row-gap: 2rem;
  
      h1 {
        align-self: flex-end;
        width: 75%;
        font-size: 3rem;
      }
  
    }
  
  }
}

.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .arrow {
    filter: opacity(50%);
    display: flex;
    position: absolute;
    top: 50%;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transform: all ease-in .1s;
    z-index: 50;
    transition: all ease .3s;

    &:hover {      
      background-color: rgba(255, 255, 255, 0.452);
    }
  }

  .slider-content {
    transition: .5s ease;
  }
}

#quem-somos {
  .container {
    display: grid;
    row-gap: 4rem;

    grid-template-areas:
    "a"
    "b"
    "c";
    
    .title-container {
      grid-area: a;
      margin-bottom: 0;
    }
  
    img {
      grid-area: b;
      width: 100%;
      object-fit: contain;
    }
  
    .text-button {
      grid-area: c;
      
      p {
        margin-bottom: 2rem;
      }
    }
  }
}

#diferenciais {
  .container {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 4rem;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    column-gap: 3rem;
  }
}

#parceiros {

  .container {
    .title-container {
      margin-bottom: 4rem;
    }

  }

  .slider-parceiros {
    overflow-x: hidden;
    
    img {
      width: 100%;
      height: 100%;
    }
  
    .slick-track {
        display: flex !important;
        align-items: center;
    }
  
    .slick-slide {
        height: inherit !important;
        margin: 0 2rem;
    }
  
  }

}

#fgts-header {
  overflow: hidden;

  .container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: calc(100vh - var(--menu-height));

    display: grid;
    row-gap: 1rem;
    grid-template-areas:
    "a"
    "b"
    "c";

    h1 {
      height: fit-content;
      font-size: 1.3rem;
      align-self: center;
      z-index: 5;
      grid-area: a;

      strong {
        color: var(--primary);
      }
    }

    .header-img {
      width: 80%;
      object-fit: contain;
      align-self: center;
      justify-self: flex-end;
      z-index: 5;
      grid-area: b;
    }

    .btn-mobile {
      height: fit-content;
      align-self: flex-end;
      grid-area: c;
    }
  }
}

@media screen and (min-height: 716px), (min-width: 768px) {
  #fgts-header {
    .container {  
      h1 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #fgts-header {
    .container {
      padding-top: 4rem; 

      height: fit-content;
      min-height: calc(100vh - var(--menu-height));
      height: 100%;

      row-gap: 4rem;
      column-gap: 4rem;
      grid-template-areas:
      "a b"
      "c b";

      h1 {
        width: 100%;
        align-self: flex-end;
      }
  
      .header-img {
        width: 100%;
      }
  
      .btn-mobile {
        align-self: flex-start;
      }
    }
  }
}

#fgts-simulador {
  .container {
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c";

    column-gap: 2rem;

    .title-container {
      margin-bottom: 3rem;
      grid-area: a;
      width: 100%;
    }

    .text {
      margin: 0;
      grid-area: b;   
      z-index: 100;
      margin: 0 0 3rem 0;
    }
    
    .card-simulacao-fgts {
      grid-area: c;
      margin: 0;

      border-radius: 5px;
      padding: 1rem;
      background-color: #fff;//var(--primary);
      z-index: 100;
      position: relative;
      display: flex;
      flex-direction: column;
      color: var(--primary);

  
      .card-header {
        display: flex;
        align-items: center;
  
        i {
          margin-right: .5rem;
        }
      } 

    }
  }
}

#fgts-condicoes {
  .container {
    display: grid;
    row-gap: 4rem;
    grid-template-areas: 
    "a"
    "b"
    "c";

    .title-container {
      grid-area: a;
      width: 100%;
    }

    .container--condicoes {
      grid-area: b;
      display: grid;
      row-gap: 2.5rem;

    }
    
    .btn-mobile {
      grid-area: c;
    }
  }
}

#fgts-vantagens {
  .container {
    display: grid;
    row-gap: 4rem;
    grid-template-areas: 
    "a"
    "b"
    "c";

    .title-container {
      grid-area: a;
    }

    .container--vantagens {
      grid-area: b;
      display: grid;
      row-gap: 4rem;
    }
    
    .btn-mobile {
      grid-area: c;
    }
  }
}

@media screen and (min-width: 676px) {
  #fgts-vantagens {
    .container {  
      .container--vantagens {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 4rem;
      }
    }
  }
}

.fgts-faq {
  .container {
    display: grid;
    row-gap: 4rem;
  }
}

#emprestimo-header {
  overflow: hidden;

  .container {
    padding-top: 2rem;
    padding-bottom: 5rem;
    height: calc(100vh - var(--menu-height));

    display: grid;
    row-gap: 1rem;
    grid-template-areas:
    "a"
    "b"
    "c";

    h1 {
      height: fit-content;
      font-size: 1.3rem;
      align-self: center;
      z-index: 5;
      grid-area: a;

      strong {
        color: var(--primary);
      }
    }

    .header-img {
      width: 80%;
      object-fit: contain;
      align-self: center;
      justify-self: flex-end;
      z-index: 5;
      grid-area: b;
    }

    .btn-mobile {
      height: fit-content;
      align-self: flex-end;
      grid-area: c;
    }
  }
}

@media screen and (min-height: 716px), (min-width: 768px) {
  #emprestimo-header {
    .container {  
      h1 {
        font-size: 2rem !important;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #emprestimo-header {
    .container {
      padding-top: 4rem; 

      height: fit-content;
      min-height: calc(100vh - var(--menu-height));

      row-gap: 4rem;
      column-gap: 4rem;
      grid-template-areas:
      "a b"
      "c b";

      h1 {
        width: 100%;
        align-self: flex-end;
      }
  
      .header-img {
        width: 100%;
      }
  
      .btn-mobile {
        align-self: flex-start;
      }
    }
  }
}

#emprestimo-sobre {
  padding-bottom: 0;

  display: grid;
  row-gap: 4rem;
  grid-template-areas:
  "a"
  "b";

  .container {
    height: fit-content;

    grid-area: a;

    display: grid;
    row-gap: 4rem;
    grid-template-areas:
    "a"
    "b"
    "c";

    .title-container {
      grid-area: a;
    }

    .text-content {
      grid-area: b;
    }

    .btn-mobile {
      grid-area: c;
    }
  }

  .img-content {
    grid-area: b;
    width: 90%;
    transform: translateY(15%);
  }
}

@media screen and (min-width: 768px) {
  #emprestimo-sobre {
    row-gap: 0;
  }
}

@media screen and (min-width: 960px) {
  #emprestimo-sobre {
    padding-bottom: 100px;

    grid-template-areas:
    "b a";
    row-gap: 0;
    column-gap: 3rem;

    .container {
      align-self: center;
      row-gap: 2rem;
      padding-right: 20%;
    }

    .img-content {
      height: auto;
      width: 100%;
      object-fit: contain;
      justify-self: flex-start;
      transform: none;
    }
  }
}

#emprestimo-categorias {
  padding-top: 150px;

  .container {
    display: grid;
    row-gap: 4rem;
    grid-template-areas:
    "a"
    "b"
    "c";

    .title-container {
      grid-area: a;
    }


    .content {
      grid-area: b;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
      column-gap: 1.5rem;
  
    }
    
    .btn {
      grid-area: c;
      z-index: 10;
      position: relative;
    }
  }
}

@media screen and (min-width: 675px) and (max-width: 960px) {
  #emprestimo-categorias { 
    .content { 
      grid-template-columns: repeat(2, 1fr) !important;
    } 
  }
}

@media screen and (min-width: 675px) and (max-width: 959px)  {
  #emprestimo-categorias { 
    padding-top: 200px;
    .content { 
      .card-emprestimo {
        height: 8rem;
      }
    } 
  }
}


@media screen and (min-width: 960px) {
  #emprestimo-categorias { 
    padding-top: 100px;
    .content { 
      grid-template-columns: repeat(3, 1fr) !important;
    } 
  }
}

.card-emprestimo {
  width: 100%;
  height: 7rem;
  position: relative;
  cursor: pointer;
  border-radius: .5rem;

  .hover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    border-radius: .5rem;
    z-index: 4;
    transition: all .2s ease-out;
  }

  &:hover {
    .hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
  }

  .cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
    border-radius: .5rem;
    z-index: 2;
  }

  img[alt="PENSIONISTAS INSS"] {
    object-position: left 30%;
  }

  img[alt="SERVIDORES PÚBLICOS"] {
    object-position: left 30%;
  }

  img[alt="FORÇAS ARMADAS"] {
    object-position: center left;
  }

  img[alt="CARTÃO DE CRÉDITO CONSIGNADO"] {
    object-position: center left;
  }

  img[alt="PORTABILIDADE DE CRÉDITO"] {
    object-position: center left;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top left;
    z-index: 1;
    border-radius: .5rem;
  }

  h3{
    transition: all .2s ease-out;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 1rem;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 3;
  }
}

.link-emprestimo {
  text-decoration: none;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 3rem;
  padding: .5rem 1rem;
  transition: all 300ms;

  &:hover {
    color: var(--primary);
    border-color: var(--primary);
  }
}

#emprestimo-opcoes {
  .container {
    display: grid;
    row-gap: 4rem;
    justify-items: center;
    grid-template-areas:
    "a"
    "b";

    .title-container {
      grid-area: a;
    }


    .content {
      grid-area: b;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 1rem;
    }
    
    .btn {
      grid-area: c;
      z-index: 10;
      position: relative;
    }
  }
}

@media screen and (min-width: 675px) and (max-width: 960px) {
  #emprestimo { 
    .content { 
      grid-template-columns: repeat(2, 1fr) !important;
    } 
  }
}

@media screen and (min-width: 675px)  {
  #emprestimo { 
    .content { 
      .card-emprestimo {
        height: 8rem;
      }
    } 
  }
}


@media screen and (min-width: 961px) {
  #emprestimo { 
    .content { 
      grid-template-columns: repeat(3, 1fr) !important;
    } 
  }
}

@media screen and (min-width: 1101px) {
  #fgts-vantagens {
    .container {  
      .container--vantagens {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (min-width: 675px) {
  #fgts-condicoes {
    .container {  
      .container--condicoes {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;
      }
    }
  }
}

.container--condicao {
  display: flex;
  align-items: flex-start;
  
  i {
    color: var(--primary);
    font-size: 1.5rem;
    margin: 0 1rem 0 0;
  }
}

@media screen and (min-width: 400px) and (max-width: 675px) {
  #fgts-simulador {
    .container {
        .card-simulacao-fgts {
          grid-area: c;

      }
    }
  }
}

@media screen and (min-width: 676px) {
  #fgts-simulador {
    .container {
      column-gap: 3rem;
      grid-template-areas: 
      "a b"
      "c b";

        .title-container {
          align-self: flex-end;
          margin-bottom: 1rem;
        }

        .text {
          align-self: flex-start;
          margin: 1rem 0 0 0;
          grid-area: c;   
          z-index: 100;
        }

        .card-simulacao-fgts {
          grid-area: b;

      }
    }
  }
}

@media screen and (min-width: 475px) {
  #parceiros {
    .slider-parceiros {
    
      .slick-slide {
          height: inherit !important;
          margin: 0 4rem;
      }
    }
  
  }
}

@media screen and (min-width: 676px) and (max-width: 1100px) {
  #diferenciais {
    .content {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

@media screen and (min-width: 1101px) {
  #diferenciais {
    .content {
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
  }

}


@media screen and (min-width: 475px) and (max-width: 960px) {
  #quem-somos {
    .container {
      img {
        justify-self: center;
        width: 50%;
      }    
    }
  }
}

@media screen and (min-width: 961px) { 
  #quem-somos {
    .container {
      display: grid;
      column-gap: 5rem;
      align-items: center;
  
      grid-template-areas:
      "a a"
      "b c";
      
      .title-container {
        grid-area: a;
      }
    
      img {
        grid-area: c;
        width: 100%;
        margin-bottom: 0;
        object-fit: contain;
      }
    
      .text-button {
        grid-area: b;
        
        p {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--primary);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  // box-shadow: 0 0 10px $primary, 0 0 5px $primary;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
